@import url('http://fonts.googleapis.com/css?family=Proxima+Nova');
@import url('http://fonts.googleapis.com/css?family=Antic');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,300,500,700');

		TD{font-size:12.5pt; text-align:left;}
		TH{font-size:14pt; text-align:left;}

		.fixedwidth a: hover{
			text-decoration: none;
		}

		ul{
			list-style:none;
		}

		a{
			color:inherit;
			text-decoration:none;
		}

		.test{
			width: 70%;
			margin-left:15%;
			margin-right:15%;
		}


		body{
			margin:0;
			/*background-image:url("Images/square.png");
			background-color:#F5F5F5;
			background:radial-gradient(white,#F9F1F3);*/
			background-color:white;
			color: black;
			font-size: 12.5pt;
			font-family: 'Fira Sans',sans-serif;
			font-weight: 300;
			height:100%;
			}

		#topbar{
			background:#3A1822;
			width:100%;
			height: 67px;
			color:white;
			border-bottom: 2px solid #562433;
			font-family: 'Poiret One',sans-serif;
			margin: 0 auto;
			position: relative;
			margin-bottom: 20px;
		}
		#topbar a:hover{
			color: #652A3C;
			text-shadow: 1px 2px white;
			text-decoration: none;
			border-bottom: none;
		}

		a:visited{
			color:inherit;
		}

		#bottomdiv{
			background-color:#652A3B;
			font-family: 'Fira Sans',sans-serif;
			font-weight: 300;
			width:100%;
			height: 120px;
			color:white;
			top: 20px;
			margin: 0 auto ;
			position: relative;
			clear: both;
		}

		#mainpic img{
			width: 25%;
			margin-left: 37.5%;
			margin-right: 37.5%;
			border-radius: 50%;
			border: 5px #DBA9B7 inset;
		}

		#mypic img{
			padding-top:20px;
			border-radius: 5px;
		}

		.content h3{
			text-align: center;
			font-weight: 700;
			font-size: 1.5em;
			letter-spacing: 2px;
			font-family: 'Poiret One',sans-serif;
			color: #C36F87;
			margin-bottom:2%;
		}

		.content p{
			width: 75%;
			margin: 0 auto;
		}


		figure {
			display: inline-block;
			float:left;
		}
		figure img {
			vertical-align: top;
			margin-right:20px;
			position:relative;
		}
		figure figcaption {
			text-align: center;
			width: 50%;
			padding-right:20px;
		}

		#rcontent{
			text-align:left;
			float:right;
		}
		.fixedwidth{
			width: 70%;
			height: 100%;
			margin: 5% 15%;
		}

		.fixedtop{
			width: 70%;
			margin: 0 15% 0 15%;
		}
		.content{
			border-radius:5px;
			text-align: center;
			padding: 1%;
			margin: 1% 0 1% 0;
			/*border: 5px solid #F3E2E7;
			box-shadow: 1px 1px 1px 2px #E7C5CF;*/
		}

		#name{
			font-size: 1.5em;
			padding: 15px 0;
			float:left;
			letter-spacing: 3px;
			}

		#topmenudiv{
			float: right;
			position: relative;
		}

		#topmenudiv ul{
			margin:0;
		}

		#topmenudiv li{
			list-style:none;
			display:inline;
			font-size: 20px;
			/*border-right: 2px solid white;*/
			margin: 0 auto;
			padding: 18px;
			float: left;
		}

		.glyphicon-search{
			padding-left:10px;
			padding-top: 23px;
			font-size: 14px;
		}

		.glyphicon-envelope, .glyphicon-file, .glyphicon-th, .glyphicon-home{
			padding-top: 3px;
			padding-left:12px;
			font-size:14px;
		}

		.glyphicon-home{

			float:right;
			font-size:16px;
			padding-top:9px;
		}

		table.test td {
			margin: 1px 8px 1px 1px;
			padding: 1px 10px 1px 1px;
		}
		table.test {
			border-collapse: separate;
			border-spacing: 5px;
			*border-collapse: expression('separate', cellSpacing = '10px');
		}

		#bottomson{
			padding-top: 20px;
			text-align: right;
			float:right;
			position: relative;
		}

		#socialclub{
			padding-top: 30px;
			text-align:left;
			float:left;
			position:relative;
		}

		#footer {
			position: fixed;
			height: 70px;
			bottom: 0;
			text-align: center;
			width: 100%;
		}

		#footer a{
			color: inherit;
		}

		#footer i{
			font-size: 28px;
			color: #733044;
			padding: 5px;
		}

		.construction{
			min-height:800px;
			margin: 0 auto;
			clear: both;
			padding: 300px 0 0 0;
			text-align: center;
			background-color: white;
			border-radius: 25px;
		}
		.construction h2 , #projects h2, #projects h3{
		font-weight:300;
		}

		.bubbles{
			background-color:#DBDBC4;
			border-radius: 5px;
			height: 100%;
			width: 100%;
			margin: 0 auto;
			margin-top:20px;

		}


		#projects {
			min-height: 800px;
			padding: 20px 20px 20px 20px;
			background-color: white;
			border-radius: 20px;
		}

		#bubcont h3{
		padding-top: 12px;
		border-bottom: solid 2px black;
		}
		#bubcont h5{
		padding-right: 10px;
		}

		#projects a{
			text-decoration:none;
		}

		.content ul a:hover h2{
			font-weight:500;
		}

		.content ul a:hover{
			color:inherit;
			text-decoration: none;
		}
